*.sln eol=crlf
*.vcxproj eol=crlf
*.vcxproj.filters eol=crlf
*.natvis eol=crlf

Makefile eol=lf
*.sh eol=lf
*.pbxproj eol=lf
*.storyboard eol=lf
*.plist eol=lf

*.png binary
*.ttf binary
*.lib binary
